$font1: prata;

$bgNavColor: #4F5453;
$buttonNavColor: #7E573A;
$textNavColor: #E4DFDB;
$textNavHoverColor: #AAAEAD;

$bgH1Color:#AAAEAD;
$textH1Color:#7E573A;

$bgContent: #E4DFDB;

$tableTitleColor:black;
$tableEntryColor:#643615;

$bgFooterColor:#AAAEAD;
$bgContFooterColor:#E4DFDB;
$textFooterColor:#643615;